ts_out/
node_modules/
scripts/
dist/
build/
coverage/
junit/
/package/
*.log
.next/

package-lock.json
yarn.lock
pnpm-lock.yaml
.yarn/

.idea
.eslintcache
.DS_Store

.gitignore
.git
.github
.vscode
.circleci
.travis.yml

.babelrc.js
*.yaml

.eslintignore
.eslintrc.js
tsconfig.json

node_modules
modules
styles
scripts
examples
